html {
  background-color: #201E22;
  height: 100%; }

body {
  min-height: 100%;
  overflow: hidden; }

@font-face {
  font-family: "exo-2";
  font-weight: 100;
  src: url("../fonts/Exo_2/Exo2-Thin.eot");
  src: url("../fonts/Exo_2/Exo2-Thin.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Thin.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Thin.woff") format("woff"), url("../fonts/Exo_2/Exo2-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "exo-2";
  font-weight: 200;
  src: url("../fonts/Exo_2/Exo2-Light.eot");
  src: url("../fonts/Exo_2/Exo2-Light.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Light.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Light.woff") format("woff"), url("../fonts/Exo_2/Exo2-Light.ttf") format("truetype"); }

@font-face {
  font-family: "exo-2";
  font-weight: normal;
  src: url("../fonts/Exo_2/Exo2-Regular.eot");
  src: url("../fonts/Exo_2/Exo2-Regular.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Regular.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Regular.woff") format("woff"), url("../fonts/Exo_2/Exo2-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "exo-2";
  font-weight: 500;
  src: url("../fonts/Exo_2/Exo2-Medium.eot");
  src: url("../fonts/Exo_2/Exo2-Medium.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Medium.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Medium.woff") format("woff"), url("../fonts/Exo_2/Exo2-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "600";
  font-weight: bolder;
  src: url("../fonts/Exo_2/Exo2-Bold.eot");
  src: url("../fonts/Exo_2/Exo2-Bold.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Bold.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Bold.woff") format("woff"), url("../fonts/Exo_2/Exo2-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "exo-2";
  font-weight: 800;
  src: url("../fonts/Exo_2/Exo2-Black.eot");
  src: url("../fonts/Exo_2/Exo2-Black.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Black.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Black.woff") format("woff"), url("../fonts/Exo_2/Exo2-Black.ttf") format("truetype"); }

* {
  font-family: exo-2, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.button-hexagon {
  background-color: transparent;
  border: none;
  display: inline-block;
  height: 16vh;
  position: relative;
  width: 16vh; }
  .button-hexagon:focus {
    border: none; }
  .button-hexagon__svg {
    fill: #000000; }
  .button-hexagon__polygon {
    cursor: pointer;
    fill-opacity: 0;
    stroke: #C1A991;
    stroke-width: 1; }
  .button-hexagon__arrow {
    cursor: pointer;
    fill-opacity: 0.4;
    fill: #C1A991;
    stroke-width: 0; }
  .button-hexagon__text {
    cursor: pointer;
    color: #C1A991;
    font-weight: 200;
    position: absolute;
    text-transform: uppercase;
    line-height: 4vh;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 6vh;
    font-size: 1.6vh;
    letter-spacing: 0.2vh; }
  .button-hexagon:hover .button-hexagon__polygon {
    stroke-width: 2;
    stroke: #F0E0D3; }
  .button-hexagon:hover .button-hexagon__arrow {
    fill-opacity: 0.8; }

.slide-01--landing .bg-mask {
  background: #201e22;
  background: -moz-linear-gradient(45deg, #201e22 0%, #5a1e30 100%);
  background: -webkit-linear-gradient(45deg, #201e22 0%, #5a1e30 100%);
  background: linear-gradient(45deg, #201e22 0%, #5a1e30 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#201e22', endColorstr='#5a1e30',GradientType=1 );
  display: block;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw; }

.slide-01--landing .cover {
  bottom: 36vh;
  display: block;
  left: 12vw;
  position: fixed;
  text-transform: uppercase; }
  .slide-01--landing .cover__hero {
    display: inline-block;
    color: #F0E0D3;
    text-align: left; }
    .slide-01--landing .cover__hero h1 {
      font-size: 6.4vh;
      font-weight: 100;
      margin: 1vh 0 1vh -0.4vw; }
    .slide-01--landing .cover__hero h3 {
      font-size: 2.4vh;
      font-weight: 200; }
  .slide-01--landing .cover__period {
    color: #BEAB43;
    display: inline-block;
    text-align: left;
    margin-left: 4vw; }
    .slide-01--landing .cover__period h1 {
      font-size: 12vh;
      font-weight: 400;
      margin-left: -0.64vw; }
    .slide-01--landing .cover__period h3 {
      font-size: 2.4vh;
      font-weight: 200; }

@media (min-aspect-ratio: 2 / 3) and (max-aspect-ratio: 5 / 4) {
  .slide-01--landing .cover__hero {
    display: block;
    text-align: left; }
    .slide-01--landing .cover__hero h1 {
      font-size: 6vh;
      font-weight: 100;
      margin: 1vh 0 1vh -0.4vw; }
    .slide-01--landing .cover__hero h3 {
      font-size: 2.4vh; }
  .slide-01--landing .cover__period {
    display: inline-block;
    text-align: left;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: 4vw; }
    .slide-01--landing .cover__period h1 {
      font-size: 12vh;
      font-weight: 400;
      margin-left: -0.8vw; }
    .slide-01--landing .cover__period h3 {
      font-size: 2.4vh;
      margin-left: 0; } }

@media (max-aspect-ratio: 2 / 3) {
  .slide-01--landing .cover {
    bottom: 40vh; }
    .slide-01--landing .cover__hero {
      display: block;
      text-align: left; }
      .slide-01--landing .cover__hero h1 {
        font-size: 5.5vh;
        font-weight: 100;
        margin: 1vh 0 1vh -0.4vw; }
      .slide-01--landing .cover__hero h3 {
        font-size: 2.2vh; }
    .slide-01--landing .cover__period {
      display: inline-block;
      text-align: left;
      margin-left: auto;
      margin-right: 4vw;
      margin-top: 6vw; }
      .slide-01--landing .cover__period h1 {
        font-size: 10.4vh;
        font-weight: 400;
        margin-left: -0.8vw; }
      .slide-01--landing .cover__period h3 {
        font-size: 2.2vh;
        margin-left: 0; } }

.slide-01--landing .btn-hexagon {
  background-color: #C14E34;
  border: none;
  display: inline-block;
  height: 8vh;
  position: relative;
  vertical-align: 5vh;
  width: 8vh;
  transform: scale(4); }
  .slide-01--landing .btn-hexagon__line {
    background-color: #F0E0D3;
    border-radius: 1.2vh;
    display: inline-block;
    height: 0.24vh;
    left: 50%;
    margin-left: -2.4vh;
    position: absolute;
    width: 4.8vh; }
    .slide-01--landing .btn-hexagon__line--01 {
      transform: rotate(0deg);
      top: 0; }
    .slide-01--landing .btn-hexagon__line--02 {
      transform: rotate(60deg); }
    .slide-01--landing .btn-hexagon__line--03 {
      transform: rotate(120deg); }
    .slide-01--landing .btn-hexagon__line--04 {
      transform: rotate(180deg); }
    .slide-01--landing .btn-hexagon__line--05 {
      transform: rotate(240deg); }
    .slide-01--landing .btn-hexagon__line--06 {
      transform: rotate(300deg); }
