html {
  background-color: #201E22;
  height: 100%; }

body {
  min-height: 100%;
  overflow: hidden; }

@font-face {
  font-family: "exo-2";
  font-weight: 100;
  src: url("../fonts/Exo_2/Exo2-Thin.eot");
  src: url("../fonts/Exo_2/Exo2-Thin.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Thin.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Thin.woff") format("woff"), url("../fonts/Exo_2/Exo2-Thin.ttf") format("truetype"); }

* {
  font-family: exo-2, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.button-hexagon {
  background-color: transparent;
  border: none;
  display: inline-block;
  height: 16vh;
  position: relative;
  width: 16vh; }
  .button-hexagon:focus {
    border: none; }
  .button-hexagon__svg {
    fill: #000000; }
  .button-hexagon__polygon {
    cursor: pointer;
    fill-opacity: 0;
    stroke: #C1A991;
    stroke-width: 1; }
  .button-hexagon__arrow {
    cursor: pointer;
    fill-opacity: 0.4;
    fill: #C1A991;
    stroke-width: 0; }
  .button-hexagon__text {
    cursor: pointer;
    color: #C1A991;
    font-weight: 200;
    position: absolute;
    text-transform: uppercase;
    line-height: 4vh;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 6vh;
    font-size: 1.6vh;
    letter-spacing: 0.2vh; }
  .button-hexagon:hover .button-hexagon__polygon {
    stroke-width: 2;
    stroke: #F0E0D3; }
  .button-hexagon:hover .button-hexagon__arrow {
    fill-opacity: 0.8; }

.slide-01--landing .bg-mask {
  background: #201e22;
  background: -moz-linear-gradient(45deg, #201e22 0%, #5a1e30 100%);
  background: -webkit-linear-gradient(45deg, #201e22 0%, #5a1e30 100%);
  background: linear-gradient(45deg, #201e22 0%, #5a1e30 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#201e22', endColorstr='#5a1e30',GradientType=1 );
  display: block;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw; }

.slide-01--landing .cover {
  bottom: 36vh;
  display: block;
  left: 12vw;
  position: fixed;
  text-transform: uppercase;
  animation: slide-left-01 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }
  .slide-01--landing .cover__hero {
    display: inline-block;
    color: #F0E0D3;
    opacity: 0;
    text-align: left;
    animation: blend-in--01 1.6s;
    animation-fill-mode: forwards; }
    .slide-01--landing .cover__hero h1 {
      font-size: 6.4vh;
      font-weight: 100;
      margin: 1vh 0 1vh -0.4vw; }
    .slide-01--landing .cover__hero h3 {
      font-size: 2.4vh;
      font-weight: 100; }
  .slide-01--landing .cover__period {
    color: #BEAB43;
    display: inline-block;
    margin-left: 4vw;
    opacity: 0;
    text-align: left;
    animation: blend-in--01 1.6s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards; }
    .slide-01--landing .cover__period h1 {
      font-size: 12vh;
      font-weight: 100;
      margin-left: -0.64vw; }
    .slide-01--landing .cover__period h3 {
      font-size: 2.4vh;
      font-weight: 100; }

.slide-01--landing .btn-hexagon {
  background-color: transparent;
  border: none;
  display: inline-block;
  height: 13.889vh;
  line-height: 0;
  margin-left: 8vh;
  opacity: 0;
  padding: 0;
  position: relative;
  width: 16vh;
  animation: blend-in--01 1.6s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards; }
  .slide-01--landing .btn-hexagon__svg {
    display: inline-block;
    height: auto;
    width: 16vh;
    transition: height 0.4s ease-in-out; }
    .slide-01--landing .btn-hexagon__svg:hover {
      animation: scale-pulse--01 2.4s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite; }
  .slide-01--landing .btn-hexagon__line {
    opacity: 0;
    stroke: #F0E0D3;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round; }
  .slide-01--landing .btn-hexagon__copy, .slide-01--landing .btn-hexagon__arrow {
    position: absolute; }
  .slide-01--landing .btn-hexagon__copy {
    color: #F0E0D3;
    font-size: 2.4vh;
    font-weight: 100;
    height: auto;
    left: 0;
    text-align: center;
    top: 50%;
    width: 100%; }
  .slide-01--landing .btn-hexagon__arrow {
    fill: #F0E0D3;
    height: 10vh;
    top: 50%;
    margin-top: -5vh;
    right: -2vh;
    animation: move-right--01 2.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; }

@media (min-aspect-ratio: 2 / 3) and (max-aspect-ratio: 5 / 4) {
  .slide-01--landing .cover__hero {
    display: block;
    text-align: left; }
    .slide-01--landing .cover__hero h1 {
      font-size: 6vh;
      font-weight: 100;
      margin: 1vh 0 1vh -0.4vw; }
    .slide-01--landing .cover__hero h3 {
      font-size: 2.4vh; }
  .slide-01--landing .cover__period {
    display: inline-block;
    text-align: left;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: 4vw; }
    .slide-01--landing .cover__period h1 {
      font-size: 12vh;
      font-weight: 100;
      margin-left: -0.8vw; }
    .slide-01--landing .cover__period h3 {
      font-size: 2.4vh;
      margin-left: 0; }
  .slide-01--landing .btn-hexagon__copy {
    font-size: 2.2vh; } }

@media (min-aspect-ratio: 1 / 3) and (max-aspect-ratio: 2 / 3) {
  .slide-01--landing .cover {
    bottom: 40vh; }
    .slide-01--landing .cover__hero {
      display: block;
      text-align: left; }
      .slide-01--landing .cover__hero h1 {
        font-size: 5.5vh;
        font-weight: 100;
        margin: 1vh 0 1vh -0.4vw; }
      .slide-01--landing .cover__hero h3 {
        font-size: 2.2vh; }
    .slide-01--landing .cover__period {
      display: inline-block;
      text-align: left;
      margin-left: auto;
      margin-right: 4vw;
      margin-top: 6vw; }
      .slide-01--landing .cover__period h1 {
        font-size: 10.4vh;
        font-weight: 100;
        margin-left: -0.8vw; }
      .slide-01--landing .cover__period h3 {
        font-size: 2.2vh;
        margin-left: 0; }
  .slide-01--landing .btn-hexagon {
    bottom: 12vh;
    left: 50vw;
    margin-left: -8vh;
    position: fixed; }
    .slide-01--landing .btn-hexagon__copy, .slide-01--landing .btn-hexagon__arrow {
      position: absolute; }
    .slide-01--landing .btn-hexagon__copy {
      font-size: 2.2vh; } }

@media (max-aspect-ratio: 1 / 3) {
  .slide-01--landing .cover {
    bottom: 40vh; }
    .slide-01--landing .cover__hero {
      display: block;
      text-align: left; }
      .slide-01--landing .cover__hero h1 {
        font-size: 4.2vh;
        font-weight: 100;
        margin: 0.75vh 0 0.75vh -0.3vw; }
      .slide-01--landing .cover__hero h3 {
        font-size: 1.6vh; }
    .slide-01--landing .cover__period {
      display: inline-block;
      text-align: left;
      margin-left: auto;
      margin-right: 3vw;
      margin-top: 4.5vw; }
      .slide-01--landing .cover__period h1 {
        font-size: 7.8vh;
        font-weight: 100;
        margin-left: -0.8vw; }
      .slide-01--landing .cover__period h3 {
        font-size: 1.6vh;
        margin-left: 0; }
  .slide-01--landing .btn-hexagon {
    bottom: 8vh;
    left: 50vw;
    margin-left: -6vh;
    position: fixed;
    width: 12vh; }
    .slide-01--landing .btn-hexagon__svg {
      width: 12vh; }
    .slide-01--landing .btn-hexagon__copy {
      font-size: 2.2vh; } }

.btn-hexagon__line--01 {
  animation: blend-in--01 0.2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards; }

.btn-hexagon__line--02 {
  animation: blend-in--01 0.2s;
  animation-delay: 0.55s;
  animation-fill-mode: forwards; }

.btn-hexagon__line--03 {
  animation: blend-in--01 0.2s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards; }

.btn-hexagon__line--04 {
  animation: blend-in--01 0.2s;
  animation-delay: 0.65s;
  animation-fill-mode: forwards; }

.btn-hexagon__line--05 {
  animation: blend-in--01 0.2s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards; }

.btn-hexagon__line--06 {
  animation: blend-in--01 0.2s;
  animation-delay: 0.75s;
  animation-fill-mode: forwards; }

@keyframes blend-in--01 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes move-right--01 {
  0% {
    right: -2vh; }
  50% {
    right: -4vh; }
  100% {
    right: -2vh; } }

@keyframes scale-pulse--01 {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes slide-left-01 {
  0% {
    left: 6vw; }
  100% {
    left: 12vw; } }
