html {
  background-color: #201E22;
  height: 100%; }

body {
  min-height: 100%;
  overflow: hidden; }

.bg-image {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  position: fixed;
  width: 100vw; }
  .bg-image img {
    min-height: 100vh;
    min-width: auto; }

@font-face {
  font-family: "exo-2";
  font-weight: 100;
  src: url("../fonts/Exo_2/Exo2-Thin.eot");
  src: url("../fonts/Exo_2/Exo2-Thin.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Thin.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Thin.woff") format("woff"), url("../fonts/Exo_2/Exo2-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "exo-2";
  font-weight: 200;
  src: url("../fonts/Exo_2/Exo2-Light.eot");
  src: url("../fonts/Exo_2/Exo2-Light.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Light.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Light.woff") format("woff"), url("../fonts/Exo_2/Exo2-Light.ttf") format("truetype"); }

@font-face {
  font-family: "exo-2";
  font-weight: normal;
  src: url("../fonts/Exo_2/Exo2-Regular.eot");
  src: url("../fonts/Exo_2/Exo2-Regular.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Regular.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Regular.woff") format("woff"), url("../fonts/Exo_2/Exo2-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "exo-2";
  font-weight: 500;
  src: url("../fonts/Exo_2/Exo2-Medium.eot");
  src: url("../fonts/Exo_2/Exo2-Medium.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Medium.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Medium.woff") format("woff"), url("../fonts/Exo_2/Exo2-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "600";
  font-weight: bolder;
  src: url("../fonts/Exo_2/Exo2-Bold.eot");
  src: url("../fonts/Exo_2/Exo2-Bold.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Bold.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Bold.woff") format("woff"), url("../fonts/Exo_2/Exo2-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "exo-2";
  font-weight: 800;
  src: url("../fonts/Exo_2/Exo2-Black.eot");
  src: url("../fonts/Exo_2/Exo2-Black.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Black.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Black.woff") format("woff"), url("../fonts/Exo_2/Exo2-Black.ttf") format("truetype"); }

* {
  font-family: exo-2, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.button-hexagon {
  background-color: transparent;
  border: none;
  display: inline-block;
  height: 16vh;
  position: relative;
  width: 16vh; }
  .button-hexagon:focus {
    border: none; }
  .button-hexagon__svg {
    fill: #000000; }
  .button-hexagon__polygon {
    cursor: pointer;
    fill-opacity: 0;
    stroke: #C1A991;
    stroke-width: 1; }
  .button-hexagon__arrow {
    cursor: pointer;
    fill-opacity: 0.4;
    fill: #C1A991;
    stroke-width: 0; }
  .button-hexagon__text {
    cursor: pointer;
    color: #C1A991;
    font-weight: 200;
    position: absolute;
    text-transform: uppercase;
    line-height: 4vh;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 6vh;
    font-size: 1.6vh;
    letter-spacing: 0.2vh; }
  .button-hexagon:hover .button-hexagon__polygon {
    stroke-width: 2;
    stroke: #F0E0D3; }
  .button-hexagon:hover .button-hexagon__arrow {
    fill-opacity: 0.8; }

.cover {
  background: #201E22;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #201E22 0%, #5A1E30 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #201E22 0%, #5A1E30 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #201E22 0%, #5A1E30 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$grey--darker', endColorstr='$purple-red',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; }
  .cover__hero {
    color: #C1A991;
    text-transform: uppercase; }
    .cover__hero h1, .cover__hero h2, .cover__hero h3 {
      line-height: 1.32em; }
    .cover__hero h1 {
      font-weight: 100; }
    .cover__hero h2 {
      font-weight: 200; }
    .cover__hero h3 {
      font-weight: 200; }
  .cover h2.headline--company {
    color: #BEAB43;
    display: block;
    font-weight: 200;
    text-transform: uppercase; }
  .cover__period--from, .cover__period--to {
    display: inline-block; }
    .cover__period--from h1, .cover__period--to h1 {
      display: inline-block;
      color: #BEAB43;
      font-weight: 100; }
    .cover__period--from h2, .cover__period--to h2 {
      color: #BEAB43;
      font-weight: 200;
      text-transform: uppercase; }
  .cover__period--from {
    text-align: right; }
  .cover__period--to {
    text-align: left; }
  .cover .toolbar {
    position: fixed;
    text-align: right; }

@media (orientation: portrait) {
  .cover {
    padding: 12vh 12vw 12vh 16vw; }
    .cover__hero {
      padding-bottom: 4vh; }
      .cover__hero h1 {
        font-size: 12vw; }
      .cover__hero h2 {
        font-size: 6.4vw;
        padding-top: 2.4vh; }
      .cover__hero h3 {
        font-size: 4vw; }
    .cover h2.headline--company {
      font-size: 4vw;
      padding-top: 2.4vh; }
    .cover__period--from, .cover__period--to {
      padding-right: 4vw; }
      .cover__period--from h1, .cover__period--to h1 {
        font-size: 20vw; }
      .cover__period--from h2, .cover__period--to h2 {
        font-size: 4vw; }
    .cover .toolbar {
      bottom: 4vh;
      right: 4vh; } }
