@font-face {
  font-family: "exo-2--regular";
  src: url("../fonts/Exo_2/Exo2-Regular.eot");
  src: url("../fonts/Exo_2/Exo2-Regular.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Regular.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Regular.woff") format("woff"), url("../fonts/Exo_2/Exo2-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "exo-2--medium";
  src: url("../fonts/Exo_2/Exo2-Medium.eot");
  src: url("../fonts/Exo_2/Exo2-Medium.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Medium.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Medium.woff") format("woff"), url("../fonts/Exo_2/Exo2-Medium.ttf") format("truetype"); }

h1, h2 {
  font-family: exo-2--medium, sans-serif; }
