@keyframes pulse--top {
  0% {
    margin-top: 0; }
  50% {
    margin-top: -2vh; }
  100% {
    margin-top: 0; } }

@keyframes pulse--bottom {
  0% {
    margin-top: 0; }
  50% {
    margin-top: 2vh; }
  100% {
    margin-top: 0; } }

@keyframes raise--top {
  0% {
    margin-top: 0; }
  100% {
    margin-top: -60vh; } }

@keyframes fall--bottom {
  0% {
    margin-top: 0; }
  100% {
    margin-top: 60vh; } }

@keyframes blend-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes rotate__device {
  0% {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform-style: flat; }
  100% {
    transform: rotateY(10deg);
    -webkit-transform: rotateY(10deg);
    transform-style: flat; } }

.button {
  background-color: #C1A991;
  border: 1px solid #4E5457;
  border-radius: 8px;
  color: #201E22;
  display: inline-block;
  font-size: 16px;
  height: 48px;
  padding: 12px 24px;
  text-align: center;
  text-transform: uppercase; }
  .button__copy {
    display: inline-block;
    line-height: 24px; }
  .button__icon, .button__icon svg {
    display: inline-block;
    vertical-align: middle; }
  .button__link {
    background: transparent;
    border: none;
    padding: 12px 0; }
    .button__link:focus {
      outline: none; }
  .button__invert {
    color: #F0E0D3; }

.btn-hexagon {
  fill: none;
  stroke: #D9BDAD;
  stroke-width: 1; }
  .btn-hexagon__arrow {
    fill: none;
    stroke: #D9BDAD;
    stroke-width: 1;
    stroke-linecap: round; }

.icon {
  color: #201E22;
  display: inline-block;
  fill: transparent;
  height: 24px;
  stroke-width: 2px;
  stroke-linecap: round;
  width: 24px; }
  .icon--invert {
    stroke: #D9BDAD; }
  .icon--48x48px {
    height: 48px;
    width: 48px; }

@font-face {
  font-family: "exo-2--thin";
  font-weight: 100;
  src: url("../fonts/Exo_2/Exo2-Thin.eot");
  src: url("../fonts/Exo_2/Exo2-Thin.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Thin.woff") format("woff"), url("../fonts/Exo_2/Exo2-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "exo-2";
  font-weight: 200;
  src: url("../fonts/Exo_2/Exo2-Light.eot");
  src: url("../fonts/Exo_2/Exo2-Light.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Light.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Light.woff") format("woff"), url("../fonts/Exo_2/Exo2-Light.ttf") format("truetype"); }

* {
  font-family: exo-2, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.4em; }

p {
  font-size: 16px; }

.text--light {
  color: #D9BDAD; }

.text--uppercase {
  text-transform: uppercase; }

.loader .btn-hexagon {
  height: 12.8vh;
  opacity: 1;
  position: fixed;
  right: 32vw;
  top: 48vh;
  width: 11.2vh;
  transition: opacity 0.8s ease-out;
  transition-delay: 0.4s;
  animation: blend-in 0.4s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }
  .loader .btn-hexagon__arrow {
    height: 4.8vh;
    opacity: 1;
    position: fixed;
    right: 32vw;
    width: 11.2vh;
    transition: opacity 0.8s ease-out;
    transition-delay: 0.4s; }
    .loader .btn-hexagon__arrow--up {
      top: 45.3vh;
      animation: pulse--top 2.4s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite; }
    .loader .btn-hexagon__arrow--down {
      top: 58.8vh;
      animation: pulse--bottom 2.4s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite; }

.loaded main {
  opacity: 1; }

.loaded .loader .btn-hexagon {
  opacity: 0;
  display: none; }
  .loaded .loader .btn-hexagon__arrow {
    opacity: 0; }
    .loaded .loader .btn-hexagon__arrow--up {
      animation: raise--top 0.48s;
      animation-timing-function: ease-out;
      animation-iteration-count: 1;
      animation-fill-mode: forwards; }
    .loaded .loader .btn-hexagon__arrow--down {
      animation: fall--bottom 0.48s;
      animation-timing-function: ease-out;
      animation-iteration-count: 1;
      animation-fill-mode: forwards; }

.device__wrapper {
  height: 100vh;
  margin-left: calc((50vw - (1272px / 2)) * -1);
  overflow: hidden;
  perspective: 50vh;
  width: 50vw; }
  @media (max-width: 1386px) {
    .device__wrapper {
      margin-left: calc((50vw - (936px / 2)) * -1); } }
  @media (max-width: 992px) {
    .device__wrapper {
      margin-left: calc((50vw - (648px / 2)) * -1); } }
  @media (max-width: 768px) {
    .device__wrapper {
      margin-left: calc((50vw - (calc(100vw - 64px) / 2)) * -1); } }
  @media (max-width: 576px) {
    .device__wrapper {
      margin-left: calc((50vw - (calc(100vw - 48px) / 2)) * -1); } }
  @media (max-width: 768px) {
    .device__wrapper {
      height: 50vh;
      width: 100vw; } }

.device__body {
  animation: rotate__device 1s ease-in-out;
  animation-fill-mode: forwards;
  background: linear-gradient(48deg, #201E22, #4E5457);
  border: 1px solid rgba(190, 171, 67, 0.64);
  border-radius: 4vh;
  display: inline-block;
  margin-top: -8vh;
  margin-left: 6.4vw;
  padding: 2vh 4.8vh;
  position: relative;
  width: 72%; }
  @media (max-aspect-ratio: 1 / 1) {
    .device__body {
      border-radius: 1.6vh;
      margin-top: -4vh;
      padding: 1vh 2vh; } }
  @media (max-width: 768px) {
    .device__body {
      margin-top: 4vh;
      width: 48%; } }

.device__display {
  background-color: #4E5457;
  border-radius: 0.32vh;
  box-shadow: 0 0 8px 0 rgba(32, 30, 34, 0.2);
  margin-top: -2px;
  overflow: hidden;
  padding: 0.1vh; }

.device__image img {
  width: 100%;
  opacity: 0.8; }

.device__shadow {
  background-color: rgba(32, 30, 34, 0.48);
  box-shadow: 0 0 2vh 1vh rgba(32, 30, 34, 0.48);
  border-radius: 4vh;
  height: 1vh;
  left: 1vh;
  margin-top: 40px;
  position: absolute;
  right: 1vh;
  top: 100%; }

.slide-01--landing .bg-animation__wrapper {
  height: 100vh;
  overflow: hidden;
  width: 100vw; }
  .slide-01--landing .bg-animation__wrapper .bg-animation {
    background-image: url("../img/bg-landing.jpg");
    background-repeat: repeat;
    background-position: 0 calc(50vh - 116px);
    background-size: 100% auto;
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100vw; }
    @media (max-width: 1100px) {
      .slide-01--landing .bg-animation__wrapper .bg-animation {
        background-position: 0 calc(50vh - 64px); } }
    @media (max-width: 820px) {
      .slide-01--landing .bg-animation__wrapper .bg-animation {
        background-position: 0 calc(50vh - 116px); } }
    @media (max-width: 1000px) and (max-aspect-ratio: 1 / 1) {
      .slide-01--landing .bg-animation__wrapper .bg-animation {
        background-position: 0 calc(50vh - 116px); } }
    @media (max-width: 820px) and (max-aspect-ratio: 1 / 1) {
      .slide-01--landing .bg-animation__wrapper .bg-animation {
        background-position: 0 calc(50vh - 24px); } }
    @media (max-width: 410px) and (max-aspect-ratio: 1 / 1) {
      .slide-01--landing .bg-animation__wrapper .bg-animation {
        background-position: 0 calc(50vh - 24px); } }
  .slide-01--landing .bg-animation__wrapper .gate-dark {
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100vw; }
    .slide-01--landing .bg-animation__wrapper .gate-dark svg {
      filter: drop-shadow(0px 0px 12px black);
      height: 2000px;
      margin-top: calc(((2000px - 100vh) / 2 ) * -1);
      margin-left: calc(((2000px - 100vw) / 2 ) * -1);
      width: 2000px; }
    .slide-01--landing .bg-animation__wrapper .gate-dark--top svg {
      fill: url(#svg-gradiant--grey-dark) #4E5457;
      margin-top: calc((((2000px - 100vh) / 2 ) * -1) - 40px);
      margin-left: calc((((2000px - 100vw) / 2 ) * -1) + 12px);
      stroke: #C1A991;
      stroke-width: 1; }
      @media (min-width: 1940px) {
        .slide-01--landing .bg-animation__wrapper .gate-dark--top svg {
          margin-top: calc((((104vw - 100vh) / 2 ) * -1) - 64px);
          margin-left: -1.8vw;
          height: 104vw;
          width: 104vw; } }
      @media (max-width: 1000px) {
        .slide-01--landing .bg-animation__wrapper .gate-dark--top svg {
          margin-top: calc((((2000px - 100vh) / 2 ) * -1) - 120px);
          margin-left: calc((((2000px - 100vw) / 2 ) * -1) - 68px); } }
      @media (max-width: 820px) {
        .slide-01--landing .bg-animation__wrapper .gate-dark--top svg {
          margin-top: calc((((2000px - 100vh) / 2 ) * -1) - 180px);
          margin-left: calc((((2000px - 100vw) / 2 ) * -1) - 168px); } }
      @media (max-width: 1000px) and (max-aspect-ratio: 1 / 1) {
        .slide-01--landing .bg-animation__wrapper .gate-dark--top svg {
          margin-top: calc((((2000px - 100vh) / 2 ) * -1) - 40px); } }
      @media (max-width: 820px) and (max-aspect-ratio: 1 / 1) {
        .slide-01--landing .bg-animation__wrapper .gate-dark--top svg {
          margin-top: calc((((2000px - 100vh) / 2 ) * -1) - 120px); } }
      @media (max-width: 410px) and (max-aspect-ratio: 1 / 1) {
        .slide-01--landing .bg-animation__wrapper .gate-dark--top svg {
          margin-left: calc((((2000px - 100vw) / 2 ) * -1) - 228px); } }
    .slide-01--landing .bg-animation__wrapper .gate-dark--bottom svg {
      fill: url(#svg-gradiant--grey-darker) #201E22;
      stroke: #8A837D;
      stroke-width: 1; }
      @media (min-width: 1940px) {
        .slide-01--landing .bg-animation__wrapper .gate-dark--bottom svg {
          margin-top: calc((((104vw - 100vh) / 2 ) * -1));
          margin-left: -2vw;
          height: 104vw;
          width: 104vw; } }
      @media (max-aspect-ratio: 1 / 1) and (min-width: 1940px) {
        .slide-01--landing .bg-animation__wrapper .gate-dark--bottom svg {
          margin-left: calc((((104vh - 100vw) / 2 ) * -1) - 64px);
          margin-top: -40px;
          height: 104vh;
          width: 104vh; } }
      @media (max-width: 1000px) {
        .slide-01--landing .bg-animation__wrapper .gate-dark--bottom svg {
          margin-top: calc((((2000px - 100vh) / 2 ) * -1) - 80px);
          margin-left: calc((((2000px - 100vw) / 2 ) * -1) - 80px); } }
      @media (max-width: 820px) {
        .slide-01--landing .bg-animation__wrapper .gate-dark--bottom svg {
          margin-top: calc((((2000px - 100vh) / 2 ) * -1) - 140px);
          margin-left: calc((((2000px - 100vw) / 2 ) * -1) - 180px); } }
      @media (max-width: 1000px) and (max-aspect-ratio: 1 / 1) {
        .slide-01--landing .bg-animation__wrapper .gate-dark--bottom svg {
          margin-top: calc((((2000px - 100vh) / 2 ) * -1)); } }
      @media (max-width: 820px) and (max-aspect-ratio: 1 / 1) {
        .slide-01--landing .bg-animation__wrapper .gate-dark--bottom svg {
          margin-top: calc((((2000px - 100vh) / 2 ) * -1) - 80px); } }
      @media (max-width: 410px) and (max-aspect-ratio: 1 / 1) {
        .slide-01--landing .bg-animation__wrapper .gate-dark--bottom svg {
          margin-left: calc((((2000px - 100vw) / 2 ) * -1) - 240px); } }

.slide-01--landing .content__wrapper {
  position: absolute;
  top: calc(50vh + 64px); }
  @media (max-width: 1000px) {
    .slide-01--landing .content__wrapper {
      top: calc(50vh + 8px); } }
  @media (max-width: 820px) {
    .slide-01--landing .content__wrapper {
      top: calc(50vh - 52px); } }

.slide-01--landing .content__area h1 {
  color: #8A837D;
  font-size: 16px;
  line-height: 20px; }
  .slide-01--landing .content__area h1 span {
    margin-left: 16px; }
    @media (max-width: 820px) and (max-aspect-ratio: 1 / 1) {
      .slide-01--landing .content__area h1 span {
        display: block;
        margin-left: 0;
        margin-top: 16px; } }

.slide-01--landing .button--scroll-down {
  position: relative; }
  .slide-01--landing .button--scroll-down__wrapper {
    margin-top: 120px; }

.slide-02 {
  background: linear-gradient(48deg, #201E22, #4E5457);
  display: block;
  height: 100vh;
  width: 100vw; }
  .slide-02 .content__area > .row {
    height: 100vh; }
  .slide-02 h1 {
    color: #BEAB43;
    font-size: 32px;
    margin-bottom: 24px; }
  .slide-02 h2 {
    font-size: 20px;
    margin-bottom: 24px; }

html {
  background-color: #201E22;
  height: 100%; }

body {
  height: 100%;
  overflow-y: auto; }

main {
  opacity: 0;
  transition: opacity 0.4s 0.4s ease-in-out; }

.svg-sprite {
  height: 0;
  width: 0;
  overflow: hidden; }

.content__wrapper {
  width: 100%; }

.content__area {
  width: 1272px;
  margin: 0 auto; }
  @media (max-width: 1386px) {
    .content__area {
      width: 936px; } }
  @media (max-width: 992px) {
    .content__area {
      width: 648px; } }
  @media (max-width: 768px) {
    .content__area {
      width: calc(100vw - 64px); } }
  @media (max-width: 576px) {
    .content__area {
      width: calc(100vw - 48px); } }

.d-flex {
  display: flex; }

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important; }

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: 12px; }

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  padding: 0 12px; }

@media (max-width: 768px) {
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
