html {
  background-color: #201E22;
  height: 100%; }

body {
  min-height: 100%;
  overflow: hidden; }

@font-face {
  font-family: "exo-2";
  font-weight: 100;
  src: url("../fonts/Exo_2/Exo2-Thin.eot");
  src: url("../fonts/Exo_2/Exo2-Thin.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Thin.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Thin.woff") format("woff"), url("../fonts/Exo_2/Exo2-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "exo-2";
  font-weight: 200;
  src: url("../fonts/Exo_2/Exo2-Light.eot");
  src: url("../fonts/Exo_2/Exo2-Light.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Light.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Light.woff") format("woff"), url("../fonts/Exo_2/Exo2-Light.ttf") format("truetype"); }

@font-face {
  font-family: "exo-2";
  font-weight: normal;
  src: url("../fonts/Exo_2/Exo2-Regular.eot");
  src: url("../fonts/Exo_2/Exo2-Regular.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Regular.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Regular.woff") format("woff"), url("../fonts/Exo_2/Exo2-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "exo-2";
  font-weight: 500;
  src: url("../fonts/Exo_2/Exo2-Medium.eot");
  src: url("../fonts/Exo_2/Exo2-Medium.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Medium.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Medium.woff") format("woff"), url("../fonts/Exo_2/Exo2-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "600";
  font-weight: bolder;
  src: url("../fonts/Exo_2/Exo2-Bold.eot");
  src: url("../fonts/Exo_2/Exo2-Bold.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Bold.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Bold.woff") format("woff"), url("../fonts/Exo_2/Exo2-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "exo-2";
  font-weight: 800;
  src: url("../fonts/Exo_2/Exo2-Black.eot");
  src: url("../fonts/Exo_2/Exo2-Black.eot?#iefix") format("eot"), url("../fonts/Exo_2/Exo2-Black.woff2") format("woff2"), url("../fonts/Exo_2/Exo2-Black.woff") format("woff"), url("../fonts/Exo_2/Exo2-Black.ttf") format("truetype"); }

* {
  font-family: exo-2, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.button-hexagon {
  background-color: transparent;
  border: none;
  display: inline-block;
  height: 16vh;
  position: relative;
  width: 16vh; }
  .button-hexagon:focus {
    border: none; }
  .button-hexagon__svg {
    fill: #000000; }
  .button-hexagon__polygon {
    cursor: pointer;
    fill-opacity: 0;
    stroke: #C1A991;
    stroke-width: 1; }
  .button-hexagon__arrow {
    cursor: pointer;
    fill-opacity: 0.4;
    fill: #C1A991;
    stroke-width: 0; }
  .button-hexagon__text {
    cursor: pointer;
    color: #C1A991;
    font-weight: 200;
    position: absolute;
    text-transform: uppercase;
    line-height: 4vh;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 6vh;
    font-size: 1.6vh;
    letter-spacing: 0.2vh; }
  .button-hexagon:hover .button-hexagon__polygon {
    stroke-width: 2;
    stroke: #F0E0D3; }
  .button-hexagon:hover .button-hexagon__arrow {
    fill-opacity: 0.8; }

.slide-01--landing .bg-image {
  background-image: url("/assets/img/bg-landing--retina.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw; }

.slide-01--landing .bg-mask {
  background: #201e22;
  background: -moz-linear-gradient(45deg, #201e22 0%, #5a1e30 100%);
  background: -webkit-linear-gradient(45deg, #201e22 0%, #5a1e30 100%);
  background: linear-gradient(45deg, #201e22 0%, #5a1e30 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#201e22', endColorstr='#5a1e30',GradientType=1 );
  display: block;
  height: 100vh;
  left: 0;
  opacity: 0.95;
  position: fixed;
  top: 0;
  width: 100vw; }

.slide-01--landing .cover {
  display: block;
  height: 100vh;
  position: fixed;
  left: 0;
  text-transform: uppercase;
  top: 0;
  width: 100vw; }
  .slide-01--landing .cover__hero {
    bottom: 32vh;
    color: #F0E0D3;
    left: 12vw;
    position: fixed;
    text-align: left; }
    .slide-01--landing .cover__hero h1 {
      font-size: 8vh;
      font-weight: 100;
      margin: 1vh 0 1vh -0.4vw; }
    .slide-01--landing .cover__hero h3 {
      font-size: 3.2vh;
      font-weight: 200; }
  .slide-01--landing .cover__period {
    bottom: 32vh;
    color: #BEAB43;
    position: fixed;
    text-align: left; }
    .slide-01--landing .cover__period h1 {
      font-size: 16vh;
      font-weight: 400; }
    .slide-01--landing .cover__period h3 {
      font-size: 3.2vh;
      font-weight: 200;
      margin-left: 0.64vw; }
    .slide-01--landing .cover__period--from {
      left: 50vw; }
    .slide-01--landing .cover__period--to {
      left: 66vw; }

@media (min-aspect-ratio: 2 / 3) and (max-aspect-ratio: 1 / 1) {
  .slide-01--landing .cover__hero {
    bottom: 48vh;
    color: #F0E0D3; }
    .slide-01--landing .cover__hero h1 {
      font-size: 8vw;
      font-weight: 100;
      margin: 1vh 0 1vh -0.4vw; }
    .slide-01--landing .cover__hero h3 {
      font-size: 3.2vw;
      font-weight: 200; }
  .slide-01--landing .cover__period {
    bottom: 24vh;
    color: #D9BDAD;
    position: fixed;
    text-align: left; }
    .slide-01--landing .cover__period h1 {
      font-size: 16vw;
      font-weight: 400;
      margin-left: -0.64vw; }
    .slide-01--landing .cover__period h3 {
      font-size: 3.2vw;
      font-weight: 200; }
    .slide-01--landing .cover__period--from {
      left: 12vw; }
    .slide-01--landing .cover__period--to {
      left: 36vw; } }

@media (max-aspect-ratio: 2 / 3) {
  .slide-01--landing .cover__hero {
    bottom: 48vh;
    color: #F0E0D3;
    left: 10vw;
    position: fixed;
    text-align: left; }
    .slide-01--landing .cover__hero h1 {
      font-size: 12vw;
      font-weight: 100;
      margin: 1vh 0 1vh -0.4vw; }
    .slide-01--landing .cover__hero h3 {
      font-size: 4.8vw;
      font-weight: 200; }
  .slide-01--landing .cover__period {
    bottom: 24vh;
    color: #C14E34;
    position: fixed;
    text-align: left; }
    .slide-01--landing .cover__period h1 {
      font-size: 24vw;
      font-weight: 400;
      margin-left: -0.64vw; }
    .slide-01--landing .cover__period h3 {
      font-size: 4.8vw;
      font-weight: 200; }
    .slide-01--landing .cover__period--from {
      left: 10vw; }
    .slide-01--landing .cover__period--to {
      left: 42vw; } }
